body {
  margin: 2rem;

  color: #393f4c;
  background-color: #f8f8ff;

  input,
  button {
    color: #393f4c;
    background-color: #f8f8ff;
    border: solid 1px #393f4c;
  }

  @media (prefers-color-scheme: dark) {
    color: #478384;
    background-color: #17184b;

    input,
    button {
      color: #478384;
      background-color: #17184b;
      border: solid 1px #478384;
    }
  }
}
